._ {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 7rem;
  min-height: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-main);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1),
    0 0.25rem 0.5rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
  z-index: 1;
  gap: 0.625rem;
}
