._ {
  position: relative;
}

.input {
  padding: 0.5rem 2rem;
}

.input::placeholder {
  color: var(--color-secondary);
}

.icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  box-sizing: border-box;
  background: none;
  stroke: var(--color-blue);
  fill: var(--color-blue);
}
