._ {
  display: flex;
  gap: 0.25rem;
  padding: 0.75rem 0 0.75rem 0.5rem;
  box-sizing: border-box;
}

.sorted {
  background-color: rgba(0, 0, 0, 0.15);
}

.sortable {
  cursor: pointer;
}

.direction {
  transform: rotate(180deg);
}

.icon {
  width: 1rem;
  height: 1rem;
  fill: var(--background-color-main);
}
