._ {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

._::-webkit-scrollbar {
  width: 0.75rem;
}

._::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.34);
  border-radius: 0.5rem;
  border: 0.25rem solid transparent;
  background-clip: padding-box;
}

._::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.25rem solid transparent;
  background-clip: padding-box;
}
