._ {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

._::-webkit-scrollbar {
  width: 0.25rem;
  background-color: rgba(0, 0, 0, 0.1);
}

._::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.34);
  border-radius: 0.5rem;
}
