._ {
  position: relative;
}

.input {
  display: block;
  height: 2rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  color: var(--color-main);
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.input::placeholder {
  color: var(--color-secondary);
}

.icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  stroke: var(--color-secondary);
  fill: var(--color-secondary);
  cursor: pointer;
}

.modal {
  position: absolute;
  right: 0;
  margin-top: 0.25rem;
}
