.header {
  position: relative;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.header__button {
  width: 8.75rem;
  height: 2rem;
  padding: 0.5rem 1rem;
}

.header .custom-dropdown_switcher {
  position: absolute;
  top: 2.25rem;
  right: 0;
}