.searchbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  /* margin-bottom: 1rem; */
}

.searchbar__group {
  display: flex;
  gap: 1rem;
}

.searchbar__group > div {
  width: 20rem;
}

/* .search-filter {
  margin-bottom: 2rem;
} */

.filterbar {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-day-white-blue);
  position: relative;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  transition: max-height 0.3s ease-out, opacity 0.2s ease-out 0.1s,
    margin 0.2s ease-out 0.1s;
}

.filterbar-active {
  margin: 1rem 0 2rem;
  max-height: 5.5rem;
  opacity: 1;
  overflow: visible;
  z-index: 0;
}

.filter {
  width: 18rem;
  display: flex;
  flex-direction: column;
}

.filterbar > * {
  opacity: 0;
  transition: all 0.2s ease;
}

.filterbar-active > * {
  opacity: 1;
}

.filter__title {
  display: block;
  margin-bottom: 0.5rem;
}

.filter__group {
  display: flex;
  gap: 0.25rem;
}

.filter-dropdown__title {
  display: block;
  margin-bottom: 0.5rem;
}

.filter-dropdown__input {
  width: 12rem;
}
