.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 23.625rem;
}

.text {
  color: var(--color-blue);
}

.deleteModal {
  position: absolute;
  left: 19.25rem;
  bottom: 2.5rem;
}

.changeStatusModal {
  position: absolute;
  left: 9.5rem;
  bottom: 2.5rem;
}
