:root {
  --color-day-white: #ffffff;
  --color-day-black: #000000;
  --color-day-light-blue: #bad8f5;
  --color-day-white-blue: #ebf0f5;
  --color-night-white: #2b2d33;
  --color-night-black: #bcc4cc;
  --color-night-light-blue: #454e52;
  --color-night-white-blue: #171b1f;
  --color-blue: #459df5;
  --color-red: #f53152;
  --color-orange: #ff8c56;
  --color-green: #0fb864;
  --color-purple: #8055ff;
  --color-grey: #8d8c8f;
  --day-shade: rgba(0, 0, 0, 0.15);
  --night-shade: rgba(0, 0, 0, 0.3);
}

:root.light {
  --background-color-main: var(--color-day-white);
  --background-color-secondary: var(--color-day-white-blue);
  --color-main: var(--color-day-black);
  --color-secondary: var(--color-day-light-blue);
}

:root.dark {
  --background-color-main: var(--color-night-white);
  --background-color-secondary: var(--color-night-white-blue);
  --color-main: var(--color-night-black);
  --color-secondary: var(--color-night-light-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 75rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8125rem;
  color: var(--color-main);
  background-color: var(--background-color-main);
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
